<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of Class" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :stress_level %><br />
    <%= f.text_field :stress_level %>
  </div>
  <div class="field">
    <%= f.label :hours_spent %><br />
    <%= f.text_field :hours_spent %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


