<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name of Class" %><br />
    <p hidden class="hiddenclassname"><%= @classname %></p>
    <%= f.text_field :name, options = { class: 'search-query2' } %>
    <%= javascript_include_tag "typeahead.js" %>
    <script>
      $(".search-query2").typeahead({
        name: 'random',
        prefetch: {
          url: '/reviews.json',
          ttl: 0
        }
       });

      $(".search-query2").attr("value",   $(".hiddenclassname").text());
      
    </script>

  </div>

  <div class="field">
    <%= f.label :stress_level %>
    <ul class="rating">
      <% (1..5).each do |i| %>
        <li class="rating_star" id=<%= "rating-#{i}" %> data-stars=<%="#{i}" %>>
          <%= f.radio_button :stress_level, i %>
        </li>
      <% end %>
    </ul>
    </br>
    <div class="description"><p id="descriptionForStress"></p></div>
  </div>


<!--
  <div class="field">
    Stress Level
    <ul class="rating">
      <% (1..5).each do |i| %>
        <li class="rating_star" id=<%= "rating-#{i}" %> data-stars=<%="#{i}" %>></li>
      <% end %>
    </ul>
    </br>
  </div>

-->
  <div class="field">
    <%= f.label :hours_spent %><br />
    <%= f.text_field :hours_spent %>
  </div>
  <div class="field">
    <%= f.label :value %>
    <ul class="rating">
      <% (1..5).each do |i| %>
        <li class="rating_star2" id=<%= "rating2-#{i}" %> data-stars=<%="#{i}" %>>
          <%= f.radio_button :value, i %>
        </li>
      <% end %>
    </ul>
    </br>
    <div class="description"><p id="descriptionForValue"></p></div>
  </div>

  <div class="actions">
    <%= f.submit "Create Review", :class => 'btn btn-default' %>
  </div>
<!--
  <div class="container">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-primary">Left</button>
      <button type="button" class="btn btn-primary">Middle</button>
      <button type="button" class="btn btn-primary">Right</button>
    </div>
  </div>
-->
<% end %>


