<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Stress level</th>
    <th>Hours spent</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviewnames.each do |review| %>
  <tr>
    <td><%= review %></td>
    <td><%= Review.where(name: review).average(:stress_level).round(2) %></td>
    <td><%= Review.where(name: review).average(:hours_spent).round(2) %></td>
    <td><%= Review.where(name: review).average(:value).round(2) %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<ul>
  <li ng-repeat="review in reviews">
    {{review.name}}
    <p>{{review.snippet}}</p>
  </li>
</ul>

<br />

<%= link_to 'New Review', new_review_path %>


