<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @review.name %>
</p>

<p>
  <b>Stress level:</b>
  <%= Review.where(name: @review.name).average(:stress_level).round(2) %>
</p>

<p>
  <b>Hours spent:</b>
  <%= Review.where(name: @review.name).average(:hours_spent).round(2) %>
</p>

<p>
  <b>Value:</b>
  <%= Review.where(name: @review.name).average(:value).round(2) %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
