<header class="navbar navbar-fixed-top"> 
   <div class="navbar-inner"> 
      <div class="container"> 
        <nav> 
          <div class="navbar">
              <div class="navbar-inner">
                <a class="brand" href="/">Stressometer</a>
                <ul class="nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/showall">All Classes</a></li>
                </ul>
                
             <!--   <%= label_tag :name %>
                <%= form_tag('/reviews/search', class: 'navbar-search pull-right') do %>  
                  <%= text_field_tag :name, nil, class: 'search-query' %>
                  
                  
                
                  <%= javascript_include_tag "typeahead.js" %>
                <script>
                  $(".search-query").typeahead({
                    name: 'reviews',
                    prefetch: '/reviews.json'
                  });
                </script>
                  <%= submit_tag "Find class" %>
                <% end %>
              -->
              </div>
          </div>
          

 
        </nav> 
      </div> 
   </div> 
 </header>